.section__advantages {
    padding-top: 60px;
    padding-bottom: 60px;
}

.advantages {
    list-style: none;
    gap: 30px;
}

.advantages__box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    width: 100%; // 270px
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.advantages__icon {
    width: 70px;
    height: 70px;
    fill: var(--main-color);
}

.advantages__title {
    margin-bottom: 10px;

    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

@media screen and (max-width: 767px) {
    .advantages__item {
        width: 100%;
        
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }    
    .advantages__title {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .advantages {
        display: flex;
        flex-wrap: wrap;
    }
    .advantages__item {
        width: calc((100% - 30px) / 2);
    } 
}

@media screen and (min-width: 1200px) {
    .section__advantages {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .advantages__item {
        flex-basis: calc((100% - 90px) / 4);
    }
}