.section__doings {
    padding-top: 0px;
}
.doings {
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.doings__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.doings__box {
    position: relative;
}

.doings__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    position: absolute;
    bottom: 0;
    left: 0;

    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-color);
    background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
    .section__doings {
        display: none;
    }
}