.footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-third-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer__side-left {
    margin-right: 70px;
    flex-grow: 1;
}

.address-footer__map {
    color: var(--third-color);
}

.address-footer__email,
.address-footer__phone-number {
    color: var(--fourth-color);
}

.address-footer {
    margin-top: 20px;
}

.address-footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.address-footer__item-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__social-link-title {
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-color);
}

.footer__social-link {
    margin-right: 93px;
}

.footer__social-list {
    display: flex;
    align-items: center;
}

.footer__social-list-item:not(:last-child) {
    margin-right: 10px;
}

.footer__social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #44454E;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer__social-list-item:not(:last-child) {
    margin-right: 10px;
}

.footer__social-list-icon {
    fill: var(--third-color);
}

.footer__subcribe {
    display: flex;
    margin-left: auto;
}

.footer__subscribe-title {
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-color);
}

.footer__subcribe-elements {
    display: flex;
    align-items: center;
}

.footer__subscribe-input {
    display: block;
    padding-left: 16px;
    margin-right: 12px;

    width: 358px;
    height: 50px;

    color: var(--third-color);
    background-color: var(--background-third-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
}

.footer__subscribe-btn {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    width: 200px;
    height: 50px;

    @include font(16px, 700, 30px);
    letter-spacing: 0.06em;

    border: transparent;
    color: var(--third-color);
    background-color: var(--background-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--background-second-color);
    }
}

.icon-send {
    margin-left: 10px;
    fill: var(--third-color);
}