.section--our-background {
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-team {
    display: flex;
    flex-wrap: wrap;
}

.our-team__item {
    background: var(--third-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team__description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team__title {
    margin-bottom: 10px;

    @include font(16px, 500, 19px);
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list__icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--third-color);
    }
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

@media screen and (max-width: 1199px) {
    .section__title {
        margin-bottom: 30px;
        @include font(28px, 700, 32px);
    }
}

@media screen and (max-width: 767px) {
    .our-team__item {
        // width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .our-team__item {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .our-team__item {
        flex-basis: calc((100% - 90px) / 4);

        background: var(--third-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        &:not(:nth-child(4n+4)) {
            margin-right: 30px;
        }
    }
}