.logo {
    display: block;

    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    @include font(26px, 700, 31px);  
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .logo__header {
        margin-right: 88px;

    }
}

@media screen and (min-width: 1200px) {
.logo__header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    }
}



// .logo__header {
//     margin-right: 93px;
//     padding-top: 24px;
//     padding-bottom: 25px;
// }

.logo__footer {
    display: block;
    margin-bottom: 20px;

    @include font(26px, 700, 31px);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo__dark {
    color: #000000;
}

.logo__light {
    color: #FFFFFF;
}