.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section--no-padding-top {
    padding-top: 0px;
}

.section__title {
    margin-bottom: 50px;

    @include font(36px, 700, 42px);
    text-align: center;
    letter-spacing: 0.03em;
}
 
.section--our-background {
    background-color: #F5F4FA;
}

@media screen and (max-width: 1199px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;      
    }
    .section__title {
        @include font(28px, 700, 32px);
    }
}